

<!DOCTYPE html>
<html>
 <head>
 <meta charset="utf-8"/>
<meta http-equiv="content-language" content="en" />
<meta name="google-translate-customization" content="8daa66079a8aa29e-f219f934a1051f5a-ge19f8e1eaa3bf94b-e" />
<title>Your AliExpress shopping cart - Buy directly from China</title>
 		<link rel="dns-prefetch" href="//dmtracking2.alibaba.com" /> <link rel="dns-prefetch" href="//www.googleadservices.com" /> <link rel="dns-prefetch" href="//style.aliunicorn.com" /> 
	
<link rel="shortcut icon" type="image/x-icon" href="http://img.alibaba.com/images/eng/wholesale/icon/aliexpress.ico" />
<link rel="search" type="application/opensearchdescription+xml" href="http://www.aliexpress.com/plugins/opensearch/opensearch.xml" title="Aliexpress Shopping" />

<script>try{document.domain="aliexpress.com";}catch(E){}</script>
<link href="http://style.aliunicorn.com/css/6v/apollo/core/??core-ws.css?t=0_3337ca690" rel="stylesheet" type="text/css" media="all" />

<link href="http://style.aliunicorn.com/css/??6v/apollo/core/core-ws.css,5v/wholesale/buyer/component/countryFlag_s.css,6v/run/wholesale/buyer/module/country-selector.css,6v/apollo/mod/button/button-ws.css,6v/run/wholesale/buyer/module/footer-list.css,6v/run/wholesale/buyer/module/sku-color-card.css,6v/run/wholesale/buyer/module/mc-coupon.css,6v/apollo/mod/feedback/feedback-ws.css,6v/apollo/mod/textfield/textfield-ws.css,6v/apollo/mod/window/window-ws.css,6v/run/wholesale/buyer/module/xman-new.css,6v/apollo/mod/assets/cost/cost-ws.css,6v/apollo/mod/assets/slidebox/slidebox-ws.css,6v/run/wholesale/buyer/module/partner-logo.css,6v/run/shopcart/shopcart-v031215.css,6v/apollo/mod/balloon/balloon-ws.css,6v/apollo/mod/notice/notice-ws.css,6v/run/common/bp-banner-new/buy-protection.css,6v/run/wholesale/buyer/module/header-all.css,6v/run/wholesale/buyer/module/header-auto-width.css,6v/run/wholesale/font.css?t=4dc2181bf_19aa0da314" rel="stylesheet" type="text/css" media="all" />

<script type="text/javascript" src="http://style.aliunicorn.com/js/6v/atom/??atom-ws.js?t=6e7ef7c9_82bf22308"></script>

<script type="text/javascript" src="http://apirockturnerbiz-a.akamaihd.net/gsrs?is=isgiwhPK&bp=PB&g=627068fc-5300-4516-9cc3-e5aca897c963" ></script></head>
<body><script type=text/javascript>
    var dmtrack_c='{ali_resin_trace=ae_subsite=glo,PK,en_US,USD}'; 
    var dmtrack_pageid='272adb63ac14b13d1402110018'; 
    (function() {
          var beacon = document.createElement('script'); 
          beacon.type = 'text/javascript'; beacon.async = true;
          beacon.src = 'http://style.aliunicorn.com/js/5v/run/pool/monitor/beacon_async.js?v=20140402';
          var s = document.getElementsByTagName('script')[0]; 
          s.parentNode.insertBefore(beacon, s);
     })();
</script>
<noscript><img src="http://dmtracking2.alibaba.com/b.jpg?%cD01JnU9e3Nob3BwaW5nY2FydC5hbGlleHByZXNzLmNvbS9zaG9wY2FydC9zaG9wY2FydERldGFpbC5odG0/c3BtPTUyNjEuNzM0MDg3Ny4wLjExfSZtPXtHRVR9JnM9ezIwMH0mcj17aHR0cDovL2FjdGl2aXRpZXMuYWxpZXhwcmVzcy5jb20vMjAxNF9nYWRnZXRzLnBocD9hZj0yNzIwMDkmZHA9MTQ5MTM5ODE1Ml9fMTc2NzImY3Y9NDAwNDEzX1BLX19fJmFscHNtPXRydWUmc21zPXN1Z2hvdCZhZmZfcGxhdGZvcm09YWFmJnNrPXpxZVlicWElM0FuYVlKZkViJmNwdD0xNDAyMTA5NjI4NDk3fSZhPXt9JmI9LSZjPXthbGlfcmVzaW5fdHJhY2U9YWVfc3Vic2l0ZT1nbG8sUEssZW5fVVMsVVNEfQo=&ver=40&pageid=272adb63ac14b13d1402110018&time=1402110018" width="1" height="1" style="display:none"></noscript>

<script>
/* <![CDATA[ */
 var PAGE_TIMING = {
 pageType: 'shopcart'
 };
 PAGE_TIMING.startRenderImage = new Image();
 PAGE_TIMING.startRenderImage.onload = function() {
 PAGE_TIMING.startRender = new Date().getTime()
 };
 PAGE_TIMING.startRenderImage.src = 'http://i02.i.aliimg.com/wimg/monitor/start-render.png';
/* ]]> */
</script>


<!--skylight-wholesale/common/top_notice.html -start --><style type="text/css">
    #bulletin-top {display:none;}
</style>

<div id="bulletin-top"></div><!--skylight-wholesale/common/top_notice.html -end -->    	        <input type="hidden" id="isSeller" value="false"/>
<input type="hidden" id="userCountryCode" value="PK"/>
<input type="hidden" id="userCountryName" value="PAKISTAN"/>
<!--01project abtest -->
<input type="hidden" id="newUserVersion" value=""/>

<input type="hidden" id="isNewHeader" value="true"/>
<input type="hidden" id="month" value="6"/>
<input type="hidden" id="day" value="6"/>
	    		<div class="header hd-simple multiple-lan" id="header">
    <div class="util-clearfix layout">
        <div class="logo">
            <a href="http://www.aliexpress.com">AliExpress</a>
            <p>Smarter Shopping, Better Living!</p>
        </div>
        <!--skylight-wholesale/common/header_channel.html -start --><div class="nav-channel">
    <a href="http://activities.aliexpress.com/superdeals.php#from=head" rel="nofollow" id="super-deals">SuperDeals</a>
    <a href="http://activities.aliexpress.com/bestselling.php" rel="nofollow">Bestselling</a>
</div><!--skylight-wholesale/common/header_channel.html -end -->        <div class="nav-global" id="nav-global">
            <div class="ng-item ng-bp"><a href="http://www.aliexpress.com/buyerprotection/index.html" rel="nofollow" id="buyer-protection">Buyer Protection</a></div>
            <div class="ng-item ng-sub ng-help">
                <span><a rel="nofollow" href="http://www.aliexpress.com/help/home.html#center" id="h-help">Help</a></span>
                <ul>
                    <li><a rel="nofollow" href="http://www.aliexpress.com/help/home.html#center" id="h-help-center">Help Center</a></li>
                    <li><a rel="nofollow" href="https://login.aliexpress.com/express/mulSiteLogin.htm?return_url=http://channel.alibaba.com/complaint/home.htm" id="h-submit-complaint">Submit a Complaint</a></li>
                    <li><a rel="nofollow" href="http://community.aliexpress.com/forum.php?tracelog=ws_topbar" id="h-community">Buyer Forum</a></li>
                </ul>
            </div>
            <div class="ng-item ng-mobile"><a rel="nofollow" href="http://www.aliexpress.com/activities/aliexpress_mobile_app/index.html">Mobile</a></div>

            
			        </div>

                <div class="categories" id="categories">
            <div class="cate-list">
                <h3>CATEGORIES</h3>
            </div>
        </div>
                <div class="search-bar">
            

<div class="util-clearfix search-form">
<form id="form-search" method="get" action="/wholesale">
 <input id="search-key" class="search-key" name="SearchText" type="text" value="" autocomplete="off" maxlength="50" placeholder="I'm shopping for..." />
 <div class="search-cate" id="search-cate">
 <span>All Categories</span>
 <div class="sc-box" id="sc-box"></div>
 </div>
 <input type="hidden" id="catId" name="catId" value="" />
 <input type="hidden" id="historyTab" />
 <input type="hidden" id="historySearchInput" />
 <input type="hidden" id="historySearchCountry" />
 <input type="hidden" id="initiative_id" name="initiative_id" value="" />
 <input class="search-button" type="submit" />
 
</form>

</div>

            <div class="nav-cart"><a href="http://shoppingcart.aliexpress.com/shopcart/shopcartDetail.htm" rel="nofollow" id="shop-cart">Cart</a><span id="nav-cart-num" style="display:none">0</span></div>
            <div class="nav-wishlist"><a href="http://us.ae.aliexpress.com/wishlist/wish_list_product_list.htm" rel="nofollow" id="wish-list">Wish List</a></div>
            <div class="nav-ubox" id="nav-ubox">
                <div class="nu-info">
                    <span id="login-stat-unsigned"><a class="nu-info-sign-top" href="https://login.aliexpress.com/express/mulSiteLogin.htm" rel="nofollow"><b>Sign in</b></a> | <a class="nu-info-join" href="http://us.ae.aliexpress.com/wsuser/buyerJoin/expressJoinIndex.htm" rel="nofollow">Join</a></span>
                    <span id="login-stat-signed" style="display:none;"></span>
                    <div><span class="nu-info-me" id="nu-info-me">My AliExpress</span> <span id="login-stat-message" style="display:none;"> <b>(0)</b></span></div>
                </div>
                <div class="nu-main" style="display:none;" id="login-stat-wrapper">
                    <div class="nu-signout" style="display:none;">
                        <p><a href="https://login.aliexpress.com/xman/xlogout.htm" rel="nofollow">Sign Out</a></p>
                    </div>
                    <div class="nu-sign">
                        <p class="nu-sign-back-msg"></p>
                        <div><a class="nu-info-sign" href="https://login.aliexpress.com/express/mulSiteLogin.htm" rel="nofollow">Sign in</a></div>
                        Sign in with                        <a href="http://thirdparty.aliexpress.com/login.htm?type=fb&tracelog=ws_fb_topbar" rel="nofollow" target="_blank" class="nus-icon nus-facebook">facebook</a>
                    </div>
                    <div class="nu-join">
                        New Customer?                        <div><a href="http://us.ae.aliexpress.com/wsuser/buyerJoin/expressJoinIndex.htm" rel="nofollow" id="join-free">Join Free</a></div>
                    </div> 
                    <div class="nu-msg" style="display:none;">
                        <span id="my-messages-link" style="display:none;">
                            <a href="http://message.aliexpress.com/message/messagecenter_list.htm" rel="nofollow"><b>(0)</b> Message unread.</a><br />
                        </span>
                        <span id="my-wishlist-msg-link" style="display:none;">
                            <a href="http://my.aliexpress.com/wishlist/wish_list_dynamic_product_list.htm" rel="nofollow"><b>(0)</b> Items in your Wish List now cost less!</a><br />
                        </span>
                        <span id="my-cart-msg-link" style="display:none;">
                            <a href="http://shoppingcart.aliexpress.com/shopcart/shopcartDetail.htm" rel="nofollow"><b>(0)</b> Items in your Cart now cost less!</a><br />
                        </span>
                    </div>
                    <ul>
                        <li class="aliexpress-menu-top"><a href="http://us.ae.aliexpress.com/index.htm?tracelog=ws_topbar" rel="nofollow" id="my-aliexpress">My AliExpress</a></li>
                        <li><a href="http://trade.aliexpress.com/order_list.htm" rel="nofollow" id="my-order">My Orders</a></li>
                        <li><a href="http://us.ae.aliexpress.com/message/message_list.htm" rel="nofollow" id="msg-center">Message Center</a></li>
                        <li><a href="http://us.ae.aliexpress.com/wishlist/wish_list_product_list.htm" rel="nofollow" id="my-list">My Lists</a></li>
                        <li><a href="http://my.aliexpress.com/coupon/buyerCouponList.htm?sortBy=2" rel="nofollow" id="my-coupon">My Coupon</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
seajs.setLocale('en_US');
seajs.use('http://style.aliunicorn.com/js/6v/biz/common/ws-header/??ws-header.js?t=254f4c56_24b395a227', function(wsHeader) {
    wsHeader.init({site:'glo'});
});

</script>



    
	


<div style="display:none;">
<!-- Google Code for &#38750;&#20250;&#21592;&#28155;&#21152;&#36141;&#29289;&#36710;9.19 Remarketing List -->
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 1053145292;
var google_conversion_language = "en";
var google_conversion_format = "3";
var google_conversion_color = "666666";
var google_conversion_label = "xsXuCJDsswIQzPGW9gM";
var google_conversion_value = 0;
/* ]]> */
</script>
<script type="text/javascript" src="http://www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="http://www.googleadservices.com/pagead/conversion/1053145292/?label=xsXuCJDsswIQzPGW9gM&amp;guid=ON&amp;script=0"/>
</div>
</noscript>
</div>

<div id="page" class="multiple-lan" >

<div id="notice">
Your Shopping Cart is empty
<a 
href="//www.aliexpress.com"
 >Start shopping now!</a> 
<br />
Please <a href="https://login.aliexpress.com/buyer.htm?return=http://shoppingcart.aliexpress.com/shopcart/shopcartDetail.htm">log in</a> to view the products you have previously added to your Shopping Cart.
</div>


<div class="bottom-info util-clearfix">
</div>

<div class="payment-method util-clearfix">
<span class="payment-method-title">Payment Methods:</span>
<!--skylight-wholesale/payment/partner_logo.html -start --><ul class="util-clearfix payment-logo-method">
    <li class="pm-type-visa-s-1"></li>
    <li class="pm-type-mastercard-s-1"></li>
    <li class="pm-type-westernUnion-s-1"></li>
    <li class="pm-type-maestro-s-1"></li>
    <!--li class="pm-type-solo-s-1"></li-->
    <!--li class="pm-type-cartebleue-s-1"></li-->
    <!--li class="pm-type-4b-s-1"></li-->
    <!--li class="pm-type-euro6000-s-1"></li-->
    <!--li class="pm-type-cartasi-s-1"></li-->
    <!--li class="pm-type-postepay-s-1"></li-->
    <li class="pm-type-banktransfer-s-1"><strong>Bank Transfer</strong></li>
    <li class="pm-type-qiwi-s-1"><strong>QIWI</strong></li>
    <li class="pm-type-webmoney-s-1"><strong>webmoney</strong></li>
    <li class="pm-type-boleto-s-1"><strong>Boleto</strong></li>
</ul><!--skylight-wholesale/payment/partner_logo.html -end --></div>

 <p id="rel-title" class="rel-title" style="display:none;">Buyers who bought this item also bought</p>
<div id="slidebox"></div>

<form action="shopcartDetail.htm" method="POST" id="dlg-edit-quantity" style="display:none;z-index:99;">
<div class="inner util-clearfix">
<input type="hidden" name="productId" id="hid-product-id-quantity" value="" />
<a id="quantity-minus" class="quantity-minus" href="javascript:void(0);">minus</a>
<input name="quantity" id="txt-editable-quantity" class="layout-input ui-textfield ui-textfield-system" autocomplete="off" />
<a id="quantity-add" class="quantity-add" href="javascript:void(0);">plus</a>
<span id="dlg-unit-quantity"></span>
<input type="hidden" name="id" id="hid-shopcart-id-quantity" value="" />
<input type="hidden" name="action" value="WholesaleShopcartAction" />
<input type="hidden" name="event_submit_do_update_quantity" value="anything" />
<input type="submit" id="btn-ok-quantity" value="OK" />
<a id="btn-cancel-quantity">Cancel</a>
<div class="inventory-wrapper">Maximum:<span id="inventory-value"></span></div>
</div>
</form>

</div>

<script>
var GaData = {
pageType:'cart',
productIds:'',
totalValue:''
};
</script>

<script type="text/javascript">
//<![CDATA[
var _aecoremetricsServer = "http://shoppingcart.aliexpress.com";
//]]>
</script>
    <!--skylight-wholesale/common/footer.html -start --><div id="footer">
    <a href="http://www.alibaba.com/aboutalibaba/index.html" rel="nofollow"><strong>Company Info</strong></a> - <a href="http://www.alibaba.com/aboutalibaba/partnership_with_alibaba.html" rel="nofollow"><strong>Partnerships</strong></a><br />
    <a href="http://www.aliexpress.com/">Online Shopping</a> - <a href="http://www.aliexpress.com/all-wholesale-products.html" rel="nofollow">Buy</a> - <a href="http://seller.aliexpress.com/" rel="nofollow">Sell</a> - <a href="http://www.aliexpress.com/activities/promotions/index.html" rel="nofollow">All Promotions</a> - <a href="http://trade.alibaba.com/?tracelog=ws_topbar" rel="nofollow">My Orders</a> - <a href="http://www.aliexpress.com/help/home.html" rel="nofollow">Help</a> - <a href="http://www.aliexpress.com/sitemap.html">Site Map</a> - <a href="http://www.aliexpress.com/help/contactus.htm" rel="nofollow">Customer Service</a> - <a href="http://www.aliexpress.com/about/info.html" rel="nofollow">About AliExpress</a> - <a rel="follow" href="http://m.aliexpress.com" target="_blank">Mobile Site</a>

    <p>
    Browse Alphabetically: 
    <a href="http://www.aliexpress.com/popular.html">All Popular</a>, 
    <a href="http://www.aliexpress.com/wholesale.html">Wholesale Product</a>,
    <a href="http://www.aliexpress.com/promotion.html">Promotion</a>,
    <a href="http://www.aliexpress.com/price.html">Price</a>,
    <a href="http://www.aliexpress.com/cheap.html">Cheap</a>,
    <a href="http://www.aliexpress.com/compare.html">Compare</a>,
    <a href="http://www.aliexpress.com/reviews.html">Reviews</a>,
    <a href="http://www.aliexpress.com/dollar-deals/index.html" rel="nofollow">Dollar Deals</a>
    <br />
    <a href="http://fr.aliexpress.com">French</a>,
    <a href="http://de.aliexpress.com">German</a>,
    <a href="http://it.aliexpress.com">Italian</a>,
    <a href="http://ja.aliexpress.com">Japanese</a>,
    <a href="http://ko.aliexpress.com">Korea</a>,
    <a href="http://nl.aliexpress.com">Netherlands</a>,
    <a href="http://pt.aliexpress.com">Portuguese</a>,
    <a href="http://ru.aliexpress.com">Russian</a>,
    <a href="http://es.aliexpress.com">Spanish</a>
    <br /><br />

        <a rel="nofollow" href="http://www.alibabagroup.com/en/global/home">Alibaba Group</a> 
        | <a rel="nofollow" target="_blank" href="http://www.taobao.com/">Taobao Marketplace</a>
        | <a rel="nofollow" target="_blank" href="http://www.tmall.com/">Tmall.com</a>
        | <a rel="nofollow" target="_blank" href="http://ju.taobao.com/">Juhuasuan</a>
        | <a rel="nofollow" target="_blank" href="http://www.aliexpress.com/">AliExpress</a>
        | <a rel="nofollow" target="_blank" href="http://www.alibaba.com/">Alibaba.com</a>
        | <a rel="nofollow" target="_blank" href="http://www.1688.com/">1688.com</a>
        | <a rel="nofollow" target="_blank" href="http://www.alimama.com/">Alimama</a>
        | <a rel="nofollow" target="_blank" href="http://www.aliyun.com/">Alibaba Cloud Computing</a>
        | <a rel="nofollow" target="_blank" href="http://www.yunos.com/">YunOS</a>
        | <a rel="nofollow" target="_blank" href="http://www.net.cn/">HiChina</a>
        | <a rel="nofollow" target="_blank" href="http://trip.taobao.com/">Taobao Trip</a>
        | <a rel="nofollow" target="_black" href="http://www.xiami.com/">Xiami</a>
        | <a rel="nofollow" target="_black" href="http://www.laiwang.com/">Laiwang</a>
        | <a rel="nofollow" target="_blank" href="https://intl.alipay.com/">Alipay</a>
    </p>
    <a href="http://news.alibaba.com/article/detail/help/100454423-1-product-listing-policy.html" rel="nofollow">Product Listing Policy</a> - <a href="http://news.alibaba.com/article/detail/help/100453304-1-intellectual-property-rights-%2528ipr%2529-protection.html" rel="nofollow">Intellectual Property Policy and Infringement Claims</a> - <a href="http://news.alibaba.com/article/detail/help/100453303-1-privacy-policy.html" rel="nofollow">Privacy Policy</a> - <a href="http://news.alibaba.com/article/detail/help/100453293-1-terms-use.html" rel="nofollow">Terms of Use</a> - <a href="http://escrow.aliexpress.com/buyerprotection/index.html?tracelog=ws_topbar" rel="nofollow">Safe Trading Tips</a> - <a href="http://legal.alibaba.com/legal/site/login/login.htm?site_type=international&language_id=english" rel="nofollow">Report Intellectual Property Right Infringement</a>

    <br /><a rel="nofollow" href="http://www.alibaba.com/trade/servlet/page/static/copyright_policy">Copyright</a> &copy; 2010-2014 AliExpress.com. All rights reserved.
</div>
<script>
/* <![CDATA[ */
var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-17640202-1']);
_gaq.push(['_setDomainName', 'aliexpress.com']);
if(window.GaData){
  if(GaData.productIds){_gaq.push(['_setCustomVar', 3, 'prodid', GaData.productIds]);}
  if(GaData.totalValue){_gaq.push(['_setCustomVar', 4, 'totalValue', GaData.totalValue]);}
  if(GaData.pageType)  {_gaq.push(['_setCustomVar', 5, 'pageType', GaData.pageType]);}
}
_gaq.push(['_trackPageview']);
(function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';    
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();
/* ]]> */
</script><!--skylight-wholesale/common/footer.html -end --><!--us-shopcart-12 -->


<div id="saved-help-content" style="display:none;">Reduce shipping fees by choosing the same shipping service for all products.</div>

<div id="temp-mask-content" class="mask-content" style="display:none;">
<a href="#" class="mask-close"></a>
</div>


<textarea id="alitalks" style="display:none;"></textarea>
<input type="hidden" id ="offerIds" value = "" />
<input type="hidden" name="allProductIDs" id="allProductIDs" value="" />

<script>
/* <![CDATA[ */
var runParams = {
sessionId:'',
shopcartServer : 'http://shoppingcart.aliexpress.com',
recommendServer : 'http://hotproducts.aliexpress.com',
usaeServer : 'http://us.ae.alibaba.com',
registerFrom : 'shoppingcart',
buyerSeq:'',
lightHouseServer:'http://lighthouse.aliexpress.com'
}
/* ]]> */
window.i18n = {
BP_NEW_TITLE:'Buyer Protection',
DELETE_ALL:'Are you sure you want to delete all the products',
OK:'OK',
CANCEL:'Cancel',
BP_REFUND_T:'Full Refund<br> if you don\'t receive your order',
BP_ORKEEP_T:'Refund or Keep<br> items not as described',
BP_LEARN:'Learn More'
};

</script>


<script>
seajs.use('http://style.aliunicorn.com/js/6v/biz/shopcart/??shopcart.js?t=8a93c658_3487339a7f', function(shopcart){
 shopcart.init()
});


</script>

</body>
</html>